<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Users\Public\AppData\Local\TestProcessLogs\%date{yyyy}\%date{MM}\Info\%date{yyyy-MM-dd}.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date 【%p】 %message" />
      </layout>
    </appender>
    <appender name="LogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Users\Public\AppData\Local\TestProcessLogs\%date{yyyy}\%date{MM}\Error\%date{yyyy-MM-dd}.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date 【%p】 %message" />
      </layout>
    </appender>
    <logger name="LogTraceInfo">
      <level value="ALL" />
      <appender-ref ref="LogFileAppenderInfo" />
    </logger>
    <logger name="LogTraceError">
      <level value="ALL" />
      <appender-ref ref="LogFileAppenderError" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=127.0.0.1;Initial Catalog=BW1A48;Integrated Security=FALSE;User ID=sa;Password=1;"  providerName="System.Data.SqlClient" />
		<add name="Sqlite" connectionString="data source=data.db;version=3;" providerName="System.Data.SQLite.EF6" />
	</connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>